* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;

    min-height: 100dvh;
}

/*Header & Footer*/

header, footer{
    display: flex;
    background-color: wheat;
    padding: 0.5rem;
    width: 100%;
}

footer{
    align-self: flex-end;
    justify-content: right;
}

header{
    align-self: flex-start;
}

header h1{
    text-align: right;
}

h1,h3 {
    width: 20rem;
    background-color: rgba(188, 143, 143, 0.650);
    padding: 0.5rem;
}

/*Columns*/

.container{
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.column.menu{
    background-color: rgba(163, 105, 94, 1);
    margin-right: 3rem;
}

.column.middle{
    background-color: lavenderblush;
    margin-right: 3rem;
}

.column.box-gathering{
    display: flex;
    flex-direction: column;
} 

/*Image Box*/

.box1{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.box1 img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/*Text Boxes*/

.down-box-container{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow-wrap: break-word;
}

.box2{
    background-color: seashell;
    margin-right: 3rem;
    flex-basis: 50%;
}

.box3{
    background-color: lavenderblush;
    flex-basis: 50%;
}

/*Menu*/

ul{
    list-style-type: none;
}

li a{
    color: antiquewhite;
    display: block;
    text-align: center;
    font-size: large;
    text-decoration: none;
    padding: 1rem;
}

li a:hover{
    background-color: antiquewhite;
    color: rgba(204, 121, 106, 0.596);
}

.active{
    background-color: rgba(112, 70, 62, 0.596);
    color: antiquewhite;
}
